    <div id="wrapper" class="map">
        <div class="container">
            <div id="contactus-wrapper" class="blue">
                <h1 class="white">contact us</h1>
                <div id="contact-info">
                    <h2 class="white">contact information</h2>
                    <hr />
                    <div class="block-info">
                        <img src="images/block-info1.png">
                        <p class="white"><span class="bold">Monday-Friday:</span> 9:30 AM to 6:30 PM</p>
                    </div>
                    <div class="block-info">
                        <img src="images/block-info2.png">
                        <p class="white"><span class="bold">Address:</span> 123 Great Street, London, UK, CP123</p>
                    </div>
                    <div class="block-info">
                        <img src="images/block-info3.png">
                        <p class="white"><span class="bold">Phone:</span> (023)58749408</p>
                    </div>
                    <div class="block-info">
                        <img src="images/block-info4.png">
                        <p class="white"><span class="bold">Fax:</span> (123)899405</p>
                    </div>
                    <div class="block-info">
                        <img src="images/block-info5.png">
                        <p class="white"><span class="bold">Email:</span> greatemail@ukr.net</p>
                    </div>
                </div>

                <div id="leave-message">
                    <h2 class="white">leave us a message</h2>
                    <hr />
                    <form id="contactus-form">
                        <input type="text" name="contactus-name" placeholder="Name:"/>
                        <input type="email" name="contactus-email" placeholder="Email:" />
                        <input type="tel" name="contactus-phone" placeholder="Phone:" />
                        <textarea name="contactus-message" placeholder="Message:"></textarea>
                        <input type="submit" name="contactus-submit" value="SUBMIT"/>
                    </form>
                </div>
            </div>


        </div>
    </div>