    <div id="wrapper" ng-controller="MainCtrl">
        <div class="container">
            <h1>about us</h1>
            <h3>we take care of you</h3>
            <div id="specialist-wrapper">
                <div class="specialist-block">
                    <a href="#">
                        <img ng-src="images/specialist1.png" alt="children`s specialist" />
                        <div class="middle-letter-shape"><img ng-src="images/specialist-figure.png" alt="figure" /><p>c</p></div>
                        <div class="specialist-desc">
                            <h2>Children`s specialist</h2>
                            <p>The branch of medicine that deals with the medical care of infants, children, and adolescents, and the age limit from birth up to 18 years of age.</p>
                        </div>
                    </a>
                </div>
                <div class="specialist-block">
                    <a href="#">
                        <img ng-src="images/specialist2.png" alt="women`s specialist" />
                        <div class="middle-letter-shape"><img ng-src="images/specialist-figure.png" alt="figure" /><p>w</p></div>
                        <div class="specialist-desc">
                            <h2>Women`s specialist</h2>
                            <p>We encourage you to be proactive in your healthcare. We believe in working together with our patients to acheive the best health possible.</p>
                        </div>
                    </a>
                </div>
                <div class="specialist-block">
                    <a href="#">
                        <img ng-src="images/specialist3.png" alt="men`s specialist" />
                        <div class="middle-letter-shape"><img ng-src="images/specialist-figure.png" alt="figure" /><p>m</p></div>
                        <div class="specialist-desc">
                            <h2>Men`s specialist</h2>
                            <p>Superdrug can provide you with convenient, discreet and genuine treatments for erectile dysfunction, premature ejaculation and hair loss.</p>
                        </div>
                    </a>
                </div>
            </div><!--SPECIALIST-WRAPPER-->
        </div>
    </div><!--WRAPPER-->
