
    <div id="wrapper" class="blue">
        <div class="container">
            <h1 class="white">our services</h1>
            <h3 class="white">a healthy mind is in a healthy body</h3>
            <div id="services-wrapper">
                <div class="hexagon-wrapper">
                    <a href="#">
                        <div class="hexagon"><img src="images/services1.png"></div>
                    </a>
                    <h2>health problem</h2>
                </div>
                <div class="hexagon-wrapper">
                    <a href="#">
                        <div class="hexagon"><img src="images/services2.png"></div>
                    </a>
                    <h2>brain problem</h2>
                </div>
                <div class="hexagon-wrapper">
                    <a href="#">
                        <div class="hexagon"><img src="images/services3.png"></div>
                    </a>
                    <h2>knee problem</h2>
                </div>
                <div class="hexagon-wrapper">
                    <a href="#">
                        <div class="hexagon"><img src="images/services4.png" /></div>
                    </a>
                    <h2>human bones problem</h2>
                </div>
            </div>
        </div>
    </div>
